<div class=bar>
    <h1 id=header_title>
        villains
    </h1>
    <nav>
    	<ul class="topnav" id="myTopnav">
    		<li><a href="/users/index">Home</a></li>
    		<li><a href= "/feedback/new">FeedBack</a></li>
    		<li><a id = "active" href= "/about_us/new">About Us</a></li>
    		<li><a href="/login">Login</a></li>
    		<li><a href="/signup">Sign Up</a></li>
    	</ul>
    </nav>
</div>

<body>
    <h2>About Us</h2>
    <img src="/assets/background.jpg" alt="Fallout Love" style="width:304px;height:228px;">
    <p>
        
    </p>
</body>



<footer class=bar>
    <p> &copy;2017 Villains - Fatih Argtmis | Lauren Cook | Katrina Hartley | Alex De La O</p>
</footer>