<div class=bar>
    <h1 id=header_title>
        villains
    </h1>
    <nav>
    	<ul class="topnav" id="myTopnav">
    		<li><a id="active" href="/welcome/index">Home</a></li>
    		<li><a href="">Messages</a></li>
    		<li><a href= "">About Us</a></li>
    		<li><a href="/villains/new">Log In</a></li>
    	</ul>
    </nav>
</div>
