<div class=bar>
    <h1 id=header_title>
        villains
    </h1>
    <nav>
    	<ul class="topnav" id="myTopnav">
    		<li><a href="/welcome/index">Home</a></li>
    		<li><a id="active"href="/villains/new">Profile</a></li>
    		<li><a href= "">About Us</a></li>
    		<li><a href="/signup">Log In</a></li>
    		<li><a href= "/feedback/new">FeedBack</a></li>
    	</ul>
    </nav>
</div>

<div id="topBanner">
    <ul>
        <li><a>Edit Profile</a></li>
        <li><a>Followers</a></li>
        <li><a>Following</a></li>
        <li><a>Something else</a></li>
    </ul>
</div>

<div>
    
</div>

<p>
   <strong>First Name:</strong>
   <%= @villain.alias %>
</p>

<p>
   <strong>Last Name:</strong>
   <%= @villain.users_id %>
</p>

