// Place all the styles related to the Villains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body{
   margin: 0px;
   height: 100%;
   font-family: 'Montserrat Alternates', sans-serif;
   
}

//navigation bar css
.bar{
   background-color: #bcbcbc;
	margin: 0px;
	height: 6.5%;
	min-height: 60px;
	width: 100%;
	overflow: hidden;
	transition: background 2s ease;
   box-sizing: border-box;
   color: #474747;
}
#header_title{
   width: 20%;
   font-size: 40px;
   margin: 0px;
   position: relative;
   top: 40%;
   float: left;
   color: #606060;
   
}
nav{
   float: left;
   width: 80%;
   height: 100%;
   position: relative;
}
ul.topnav{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   float: left;
   width: 100%;
   height: 100%;
   background-color: transparent;
}
ul.topnav li{
	float: left;
   width: 20%;
   height: 100%;
}
ul.topnav li a{
	text-align: bottom;
	font-size: 120%;
   text-decoration: none;
	display: block;
	width: 99.5%;
	height: 100%;
	box-sizing: border-box;
	padding: 1em 0;
	background-color: transparent;
	color: #474747;
   transition: background 0.5s ease;
}
ul.topnav li a:hover{
   background-color: #bcbcbc;
}
.bar:hover{
   background-color: white;
}
#active{
   background-color: #f44336;
   color: white;
}
/* ------------------------------------------------------------- */
#main2{
   width: 100%;
   height: 100%;
}
#container_left{
  width: 55%;
  padding-left: 5%;
  float: left;
  min-width: 560px;
}
#about_us_description{
   color: #4d4d4d;
   font-size: 100%;
   margin: 0px;
   padding: 50px 0px 100px 0px;
   min-width: 560px;
}
.button{
   border-radius: 8px;
   border: none;
   width: 300px;
   height: 60px;
   text-align: center;
   font-size: 120%;
   margin: 10px 10px 0px 0px;
   color: white;
}
.button a{
   text-decoration: none;
   color: white;
}
#title{
   font-size: 50px;
   color: #f44336;
}
#header1{
   font-size: 30px;
   color: #000000;
}
#signup{
   background-color: #fc2a31;
   margin-left: 10px;
}
#facebook{
   background-color: #3b5998;
}
#container_far_left{
   position: fixed;
   right: 0px;
   top: 10%;
   box-sizing: border-box;
   padding-top: 15%;
   padding-left: 10%;
   width: 40%;
   margin: 0px;
   overflow: hidden;
   z-index: -1;
}
footer{
   border-top: 10px solid #f44336;
   text-align: center;
   height: 10%;
}




