// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//navigation bar css
ul.topnav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
ul.topnav li{
	float: left;
    width:25%;
}
ul.topnav li a{
	text-align:center;
	font-size: 120%;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration:none;
	display:block;
	width:99.5%;
	padding: 1em 0;
	background-color:  #4d4d4d;
	color: #b3b3b3;
	border-right: 2px solid #b3b3b3;
    transition: background 1s ease;
}
#active{
   background-color: black;
}
//-------------------------------------------------     body css     ----------------------------------------------------------//


